:root {
  /* Common */
  --white: #fff;
  --black: #000;

  /* Light theme */
  --background-light: #fffbff;
  --on-background-light: #201a18;
  --surface-light: #fff8f6;
  --surface-container-low-light: #fef1ec;
  --surface-container-highest-light: #ede0db;
  --on-surface-light: #201a18;
  --on-surface-variant-light: #52443d;
  --primary-light: #9d4300;
  --on-primary-light: #ffffff;
  --primary-container-light: #ffdbca;
  --on-primary-container-light: #341100;
  --secondary-container-light: #ffdbca;
  --on-secondary-container-light: #2b160a;
  --outline-light: #85736b;
  --outline-variant-light: #d7c2b9;
  --inverse-surface-light: #362f2c;
  --inverse-on-surface-light: #fbeee9;

  /* Dark theme  */
  --background-dark: #201a18;
  --on-background-dark: #ede0db;
  --surface-dark: #181210;
  --surface-container-low-dark: #201a18;
  --surface-container-highest-dark: #3a3330;
  --on-surface-dark: #d0c4bf;
  --on-surface-variant-dark: #d7c2b9;
  --primary-dark: #ffb690;
  --on-primary-dark: #552100;
  --primary-container-dark: #783200;
  --on-primary-container-dark: #ffdbca;
  --secondary-container-dark: #5c4032;
  --on-secondary-container-dark: #ffdbca;
  --outline-dark: #a08d84;
  --outline-variant-dark: #52443d;
  --inverse-surface-dark: #ede0db;
  --inverse-on-surface-dark: #201a18;

  /* Font family */
  --font-primary: "Kumbh Sans", sans-serif;

  /* Font weight */
  --fw-regular: 400;
  --fw-medium: 500;
  /* Spacing */

  /* Box shadow */
  --shadow-1: 0px 1px 3px 1px #00000026, 0px 1px 2px 0px #0000004d;
  --shadow-2: 0px 2px 6px 2px #00000026, 0px 1px 2px 0px #0000004d;
  --shadow-3: 0px 1px 3px 0px #0000004d, 0px 4px 8px 3px #00000026;
  --shadow-4: 0px 2px 3px 0px #0000004d, 0px 6px 10px 4px #00000026;
  --shadow-5: 0px 4px 4px 0px #0000004d, 0px 8px 12px 6px #00000026;

  /* Border radius */
  --radius-extra-small: 4px;
  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 16px;
  --radius-extra-large: 28px;
  --radius-full: 1000px;

  /* Transition */
  --tr-duration-short: 200ms;
  --tr-duration-medium: 400ms;
  --tr-duration-long: 500ms;
  --tr-easing-linear: cubic-bezier(0, 0, 1, 1);
  --tr-easing-emphasized: cubic-bezier(0.2, 0, 0, 1);

  /* Sidebar width */
  --sidebar-width: 360px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
  font-weight: var(--fw-regular);
  font-size: var(--fs-title-small);
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
